name: e2e_tests
on: [push]
jobs:
  run-e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - name: "Write credentials path"
        run: |
          echo -E $GCS_SECRET >> /tmp/gcp_credentials.json
        env:
          GCS_SECRET: ${{secrets.GCS_BUCKET}}
      - name: "Write over test_config"
        run: |
          cp e2e/helpers/test_config.yaml /tmp/
      - name: "Run tests"
        run: make e2e_test
